.button{
    background-color: #ed6f26 !important;
    border-color: #ed6f26 !important;
}

table{
    font-size: small;
.button {
  background-color: #ed6f26 !important;
  border-color: #ed6f26 !important;
}
@media screen and (max-device-width: 400px) {
  table {
    font-size: small;
  }
  button {
    font-size: medium !important;
  }
}
